{% extends "base.html" %}

{% block maincontent %}

<div class="row">
    <div class="col-sm-12">
        <h3>Reset Password</h3>
    </div>
</div>

<div class="row mT30">
    <div class="col-sm-12 col-md-6">
        <form class="form-horizontal" action="/password" method="POST">
            <div class="row mT20">
                <div class="col-sm-5">
                    <label class="control-label">password</label>
                </div>
                <div class="col-sm-7">
	                <input type="password" class="form-control" name="password" />
                </div>
            </div>
            <div class="row mT20">
                <div class="col-sm-5">
                    <label class="control-label">confirm password</label>
                </div>
                <div class="col-sm-7">
                    <input type="password" class="form-control" name="confirm_password" />
                    <input type="hidden" name="t" value="{{ token }}" />
                </div>
            </div>
            <div class="row mT20">
                <div class="col-sm-5">
                    <input type="hidden" name="t" value="{{ token }}" />
                </div>
                <div class="col-sm-7">
                    <input type="submit" class="btn btn-primary" value="Update password" />
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
